/*-- scss:rules --*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;350;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


$color-primary: "#ADF";       // Very dark text/default color

h2#subtitle {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: "Source Serif Pro", serif !important;
  font-family: "Inter";
  font-weight: 400;
  // font-weight: 200;
}


main#quarto-document-content {
  max-width: 70ch;
  font-size: 20px;
  font-family: "Inter";
}


// Directive for text wrapping photo on left
.float-left {

  // floating element anchored to the left
  float: left;

  // give space between bio and foto
  margin-right: 2.0em;

  // resize automatically
  display: block;
  max-width:200px;
  width: auto;

}
div.circle-container {
  float: left;
  margin: 0.7em 2em 1em 0;

  width: 200px;
  height: 200px;

  border-radius: 30%;
  border: 4px solid #FFEE8C;
  overflow: hidden;
}

div.circle-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// div.circle-container {
//   float: left;
//   margin: 0.7em 2em 1em 0;
//   width: 200px;
//   height: 200px;
//   border-radius: 30%;
//   border: 4px solid #FFEE8C;
//   overflow: hidden;
// }


// div.circle-container p {
//   margin: 0;
//   width: 100%;
//   height: 100%;
// }


// div.circle-container p img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }


.navbar,
.navbar-container,
#quarto-header {
  font-family: "Inter";
  font-weight: 400;
}

